body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 5%;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-form {
  display: flex;
  align-items: center;
}

.top-form input {
  width: auto;
  padding: 10px;
  border: 0.1 px solid gray;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}

.top-form input::placeholder {
  font-size: 15px;
  text-align: center;
}

.top-form button {
  padding: 7px;
  font-size: 20px;
  cursor: pointer;
}

.gift-grid-container {
  border-bottom: 0.1px solid gray;
  padding: 20px 0 40px 0;
}

.gift-grid-container:last-child {
  border-bottom: none;
}

.gift-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 300px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 0px #e6dcdc;
  padding-bottom: 10px;
}

.grid-item p {
  font-size: 13px;
  font-weight: 100;
  text-align: center;
}

.grid-item div img {
  width: 200px;
  height: 100px;
}

/* writer */

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media (max-width: 600px) {
  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    font-size: 20px;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  .top-form input {
    width: auto;
    padding: 10px;
    border: 0.1 px solid gray;
    font-size: 15px;
    margin: 20px 20px 20px 20px;
  }

  .top-form input::placeholder {
    font-size: 10px;
    text-align: center;
  }

  .top-form button {
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
  }
}
